<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title><%= current_page.data.title || "Chauffeur-privé" %></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= stylesheet_link_tag "normalize" %>
      <%= stylesheet_link_tag "app" %>

      <!--[if lt IE 9]>
       <%= stylesheet_link_tag "ie" %>
      <![endif]-->
      <%= javascript_include_tag  "libs/modernizr.js" %>
  
  </head>
  
    <body>

      <nav id="topNav">
        <div class="row">
          <%= link_to "Chauffeur-privé", "index.html", :id => "logo" %>

          <ul id="menuContents">
            <li><%= link_to "Je suis déjà partenaire", "#" %></li>
            <li><%= link_to "FAQ", "faq.html" %></li>
          </ul>
        </div>
      </nav>
     
      <%= yield %>
        
      <!--[if lt IE 7 ]>
        <%= javascript_include_tag  "libs/dd_belatedpng.js" %>
        <script>DD_belatedPNG.fix("img, .png_bg");</script>
      <![endif]-->

      <%= javascript_include_tag  "libs/jquery-1.11.1.min.js" %>
      <%= javascript_include_tag "libs/greensock/TweenMax.min.js" %>
      <%= javascript_include_tag "libs/greensock/TimelineMax.min.js" %>
      <%= javascript_include_tag "libs/greensock/plugins/BezierPlugin.min.js" %>
      <%= javascript_include_tag "libs/jquery.flexslider-min.js" %>

      <%= javascript_include_tag "all.js" %>
    </body>
  </html>