---
title: Chauffeur-privé - B2B home
---


<div class="rowFluid textureBG">
	<div class="row">
		<article class="hero">
			<h1 class="title xl">En France, les chauffeurs VTC <br />préfèrent Chauffeur-privé&nbsp;!</h1>
			<%= link_to "Rejoignez-nous&nbsp;!", "select.html" %>
			<%= image_tag 'anim-chauffeur.gif', :alt => "Animation chauffeurs" %>
		</article>
	</div>
</div>

<div class="rowFluid greyBG">
	<nav id="sliderNav" class="row">
		<ul>
			<li><a href="#" class="eco"><span>Plus de <br/>chiffre d'affaire</span></a></li>
			<li><a href="#" class="team"><span>Une équipe <br/>à votre écoute</span></a></li>
			<li><a href="#" class="freedom"><span>Autonomie <br/>& liberté</span></a></li>
			<li><a href="#" class="transparent"><span>100% <br/>transparent</span></a></li>
			<li><a href="#" class="pro"><span>Professionalisme <br/>& convivialité</span></a></li>
		</ul>
	</nav>
</div>
<div class="rowFluid blueBG">
	<div class="row">
		<div class="flexslider" id="mainSlider">
			<ul class="slides">
				<li>
					<article class="slideContent">
						<h2 class="title">Le chiffre d'affaire le plus élevé de la profession</h2>
						<p>Aucune autre application n'offre autant de possibilités pour le client.</p>
						<p>Et <strong>plus de possibilités pour le client,</strong> c'est <strong>plus de courses optimisées</strong> pour vous&nbsp;!</p>
						<div class="row">
							<div class="large-4 medium-6 columns">
								<%= image_tag "slides/slide1-phone1.png", :alt=>"courses immédiates ou réservées" %>
								<p><strong>Course immédiate</strong></p>
								<p><em>ou</em></p>
								<p><strong>Réservation à l'avance</strong></p>
							</div>
							<div class="large-4 medium-6 columns">
								<%= image_tag "slides/slide1-phone2.png", :alt=>"courses au forfait ou révisables" %>
								<p><strong>Course au forfait</strong></p>
								<p><em>ou</em></p>
								<p><strong>Course révisable</strong></p>
							</div>
							<div class="large-4 medium-12 columns">
								<article class="box">
									<section>
										<h2>Les <abbr title="plus">+</abbr> de <strong>Chauffeur-privé</strong></h2>
									</section>
									<ul class="list">
										<li><strong>Attente</strong> facturé</li>
										<li><strong>Annulation</strong> payante</li>
									</ul>
									<!-- Video here -->
									<div class="roundVideo">
										<button class="mute" >Activer ou couper le son</button>
									    <div class='embed-container'>
									        <div id="vid1" class="rounded-vid"></div>
									    </div>
									</div>
								</article>
							</div>
						</div>
					</article>
				</li>

				<li>
					<article class="slideContent">
						<h2 class="title">Nous sommes là pour vous faciliter la vie</h2>
						<p>Nous aimons notre métier, pourquoi pas vous&nbsp;?</p>
						<p>Nous mettons tout en oeuvre pour que <strong>l'activité de nos cheuffeurs soit un plaisir au quotidien</strong>.</p>
						<div class="row">
							<div class="large-4 medium-6 columns">
								<%= image_tag "slides/slide2-hotline.png", :alt=>"Hotline"%>
								<p><strong>Numéro de téléphone <br/>100% dédié</strong></p>
								<p>Pour vous oritenter <br/>ou vous aider <br/>et vous faciliter la vie.</p>
							</div>
							<div class="large-4 medium-6 columns">
								<%= image_tag "slides/slide2-dates.png", :alt=>"Calendrier"%>
								<p><strong>Des conseils personnalisés</strong></p>
								<p>Pour vous aider à maximiser votre chiffre d'affaire et à évoluer au sein de la profession.</p>
							</div>
							<div class="large-4 medium-12 columns">
								<article class="box">
									<section>
										<h2>Les <abbr title="plus">+</abbr> de <strong>Chauffeur-privé</strong></h2>
									</section>
									<ul class="list">
										<li><strong>Des deals spéciaux</strong> avec nos partenaires (20% de réduction chez Speedy, restaurants, etc.)</li>
									</ul>
									<div class="roundVideo">
									    <button class="mute" >Activer ou couper le son</button>
									    <div class='embed-container'>
									        <div id="vid2" class="rounded-vid"></div>
									    </div>
									</div>
								</article>
							</div>
						</div>
					</article>
				</li>

				<li>
					<article class="slideContent">
						<h2 class="title">Vivez votre métier comme vous le voulez</h2>
						<p>Ce qui nous lie à nos chauffeurs, ce n'est sûrement <strong>pas les contraintes&nbsp;!</strong></p>
						<p>&nbsp;</p>
						<div class="row">
							<div class="large-4 medium-6 columns">
								<%= image_tag "slides/slide3-cars.png", :alt=>"Line-up véhicules"%>
								<p><strong>Très grand choix de véhicules acceptés</strong></p>
								<p>Nous aimons la diveristé&nbsp;! <br/>L'important, c'est le confort de nos clients communs.</p>
							</div>
							<div class="large-4 medium-6 columns">
								<%= image_tag "slides/slide3-cars2.png", :alt=>"Classe berline, eco ou van"%>
								<p><strong>Classe Berline, Eco & Van</strong></p>
								<p>Évoluez au sein de la profession à tout moment en changeant de gamme de véhicule</p>
							</div>
							<div class="large-4 medium-12 columns">
								<article class="box">
									<section>
										<h2>Les <abbr title="plus">+</abbr> de <strong>Chauffeur-privé</strong></h2>
									</section>
									<ul class="list">
										<li><strong>Complète liberté et autonomie</strong> dans votre activité professionnelle. vous décidez de vos horaires&nbsp;!</li>
									</ul>
									<div class="roundVideo">
										<button class="mute" >Activer ou couper le son</button>
									    <div class='embed-container'>
									        <div id="vid3" class="rounded-vid"></div>
									    </div>
									</div>
								</article>
							</div>
						</div>
					</article>
				</li>

				<li>
					<article class="slideContent">
						<h2 class="title">100% transparent, pas de mauvaises surprises</h2>
						<p>Quand il s'agit du chiffre d'affaire, <strong>nous n'aimons pas les surprises&nbsp;!</strong> Vous non plus&nbsp;?</p>
						<p>&nbsp;</p>
						<div class="row">
							<div class="large-4 medium-6 columns">
								<%= image_tag "slides/slide4-data.png", :alt=>"Statistiques"%>
								<p><strong>Comission fixe et transparente</strong></p>
								<p>Quelque soit le client ou le type de course, vous conservez 80% de votre CA.</p>
							</div>
							<div class="large-4 medium-6 columns">
								<%= image_tag "slides/slide4-phone.png", :alt=>"Application cockpit"%>
								<p><strong>Visibilité de votre activité en temps réel</strong></p>
								<p>Suivez votre activité directement depuis votre iPhone et maximisez votre CA.</p>
							</div>
							<div class="large-4 medium-12 columns">
								<article class="box">
									<section>
										<h2>Les <abbr title="plus">+</abbr> de <strong>Chauffeur-privé</strong></h2>
									</section>
									<ul class="list">
										<li><strong>Visibilité entre les chauffeurs</strong> connectés et affichage de leurs positions respectives.</li>
									</ul>
									
									<div class="roundVideo">
								    	<button class="mute" >Activer ou couper le son</button>
									    <div class='embed-container'>
									        <div id="vid4" class="rounded-vid"></div>
									    </div>
									</div>
								</article>
							</div>
						</div>
					</article>
				</li>

				<li class="madeInFrance">
					<article class="slideContent">
						<h2 class="title">Les chauffeurs les plus professionels et sympas</h2>
						<p>Rejoignez une entreprise en pleine croissance, <strong>dynamique, conviviale et bosseuse&nbsp;!</strong></p>
						<p>&nbsp;</p>
						<div id="bubbles">
							<%= image_tag "slides/bubbles/bubble1.jpg", :alt=>"Bubble", :class=>"bubble", :id=>"face1" %>
							<%= image_tag "slides/bubbles/bubble2.jpg", :alt=>"Bubble", :class=>"bubble smaller", :id=>"face2" %>
							<div class="roundVideo">
						    	<button class="mute" >Activer ou couper le son</button>
							    <div class='embed-container'>
							        <div id="vid5" class="rounded-vid"></div>
							    </div>
							</div>
							<%= image_tag "slides/bubbles/bubble2.jpg", :alt=>"Bubble", :class=>"bubble smaller right", :id=>"face3" %>
							<%= image_tag "slides/bubbles/bubble1.jpg", :alt=>"Bubble", :class=>"bubble", :id=>"face4" %>
						</div>
						<div class="row">
							<div class="medium-5 columns noPad">
								<ul class="checklist">
									<li>Offrir un service agréable et de qualité</li>
									<li>Être souriant</li>
									<li>Être à l'écoute du client</li>
								</ul>
							</div>
							<div class="medium-7 columns">
								<ul class="checklist">
									<li>Faire preuve d'élégance</li>
									<li>Avoir de bonnes connaissances de Paris & ses environs</li>
									<li>Être disponible aux crénaux à forte demande</li>
								</ul>
							</div>
						</div>
					</article>
				</li>


			</ul>		
		</div>
	</div>
</div>

<div class="rowFluid splitScreen">
	<div class="medium-6 columns">
		<div class="row left">
			<%= image_tag "carBusiness.png", :alt=>"Je possède une voiture adaptée" %>
			<h2 class="title ml">Je dispose <br/>de mon propre véhicule</h2>
			<%= link_to "Voir la liste des modèles acceptés", "select.html" %>
			<%= link_to "Je m'inscrit avec mon véhicule", "form.html", :class=> "button" %>
		</div>
	</div>
	<div class="medium-6 columns">
		<div class="row right">
			<%= image_tag "carNeeded.png", :alt=>"Je ne possède pas de voiture adaptée" %>
			<h2 class="title ml">Je souhaite <br/>un véhicule Chauffeur-Privé</h2>
			<%= link_to "En savoir plus sur notre offre clé en main", "select.html" %>
			<%= link_to "Je m'inscrit sans véhicule", "form.html", :class=> "button" %>
		</div>
	</div>
</div>